.menu-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  min-width: 1140px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container img {
  height: 4rem;
  margin-right: 1rem;
}

.icon-container span {
  font-weight: 600;
  font-size: 1rem;
}

.menu-container {
  min-width: 784px;
}

.content {
  flex: 1;
  /* height: calc(100% - 6rem); */
}
